In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
retail_df = pd.read_pickle("./retail_df.pkl")
retail_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

Seperating cancelled orders

In [3]:
cancelled_order_list = [False] * len(retail_df.InvoiceNo)

for i in range(len(retail_df.InvoiceNo)):
    if type(retail_df.InvoiceNo.iloc[i]) == str and retail_df.InvoiceNo.iloc[i].startswith('C'):
        cancelled_order_list[i] = True

retail_df['CancelledOrder'] = pd.Series(cancelled_order_list, index=retail_df.index)

In [9]:
cancelled_df = retail_df[retail_df.CancelledOrder]

In [17]:
cancelled_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,CancelledOrder
141,C536379,D,Discount,1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom,True
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom,True
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom,True
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom,True
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom,True

In [15]:
cancelled_df.Quantity = abs(cancelled_df.Quantity)

/usr/local/lib/python3.5/dist-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [16]:
cancelled_df.Quantity.describe()

count     9288.000000
mean        29.885228
std       1145.786965
min          1.000000
25%          1.000000
50%          2.000000
75%          6.000000
max      80995.000000
Name: Quantity, dtype: float64