In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
cancelled_order_df = pd.read_pickle("./cancelled_orders.pkl")
retail_df = pd.read_pickle("./retail_df.pkl")

In [3]:
cancelled_order_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,CancelledOrder
141,C536379,D,Discount,1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom,True
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom,True
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom,True
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom,True
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom,True

In [4]:
cancelled_df = cancelled_order_df.drop(['CancelledOrder'], axis = 1)

Missing Value Anaysis of the cancelled orders.

In [5]:
cancelled_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9288 entries, 141 to 541717
Data columns (total 8 columns):
InvoiceNo      9288 non-null object
StockCode      9288 non-null object
Description    9288 non-null object
Quantity       9288 non-null int64
InvoiceDate    9288 non-null datetime64[ns]
UnitPrice      9288 non-null float64
CustomerID     8905 non-null float64
Country        9288 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 653.1+ KB

In [6]:
for i in cancelled_df:
    print("Missing values in the field : {}".format(i), sum(cancelled_df[i].isna()))

Missing values in the field : InvoiceNo 0
Missing values in the field : StockCode 0
Missing values in the field : Description 0
Missing values in the field : Quantity 0
Missing values in the field : InvoiceDate 0
Missing values in the field : UnitPrice 0
Missing values in the field : CustomerID 383
Missing values in the field : Country 0

In [7]:
## Filling the missing value in the Customer Id field with 0.
cancelled_df.CustomerID.fillna(0, inplace = True)
## Converting them to integer
cancelled_df.CustomerID = cancelled_df.CustomerID.astype('int64')

In [8]:
cancelled_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9288 entries, 141 to 541717
Data columns (total 8 columns):
InvoiceNo      9288 non-null object
StockCode      9288 non-null object
Description    9288 non-null object
Quantity       9288 non-null int64
InvoiceDate    9288 non-null datetime64[ns]
UnitPrice      9288 non-null float64
CustomerID     9288 non-null int64
Country        9288 non-null object
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 653.1+ KB

In [22]:
print("Total number of orders :\t{}".format(retail_df.InvoiceNo.nunique()))

Total number of orders :	25900

In [23]:
print("Total number of cancelled orders :\t{}".format(cancelled_df.InvoiceNo.nunique()))

Total number of cancelled orders :	3836

In [25]:
print("Percentage of orders cancelled :\t{}%".format(cancelled_df.InvoiceNo.nunique() * 100 
                                                    /retail_df.InvoiceNo.nunique()))

Percentage of orders cancelled :	14.81081081081081%

In [18]:
retail_df.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [15]:
cancelled_df.Country.unique()

array(['United Kingdom', 'Germany', 'EIRE', 'Italy', 'France',
       'Australia', 'Sweden', 'Portugal', 'Austria', 'Israel', 'Belgium',
       'Bahrain', 'Spain', 'Japan', 'Channel Islands', 'Netherlands',
       'Switzerland', 'Cyprus', 'Norway', 'Saudi Arabia', 'Hong Kong',
       'Poland', 'Finland', 'Czech Republic', 'Singapore',
       'European Community', 'Malta', 'Greece', 'Denmark', 'USA'],
      dtype=object)

In [19]:
for i in retail_df.Country.unique():
    if i not in cancelled_df.Country.unique():
        print(i)

Lithuania
Iceland
Lebanon
United Arab Emirates
Canada
Unspecified
Brazil
RSA

In [30]:
type(retail_df.InvoiceNo.groupby(by = retail_df.Country).count())

pandas.core.series.Series

In [29]:
type(cancelled_df.InvoiceNo.groupby(by = retail_df.Country).count())

pandas.core.series.Series