In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
cancelled_order_df = pd.read_pickle("./cancelled_orders.pkl")

In [14]:
cancelled_order_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,CancelledOrder
141,C536379,D,Discount,1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom,True
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom,True
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom,True
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom,True
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom,True

In [16]:
cancelled_df = cancelled_order_df.drop(['CancelledOrder'], axis = 1)

In [17]:
cancelled_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9288 entries, 141 to 541717
Data columns (total 8 columns):
InvoiceNo      9288 non-null object
StockCode      9288 non-null object
Description    9288 non-null object
Quantity       9288 non-null int64
InvoiceDate    9288 non-null datetime64[ns]
UnitPrice      9288 non-null float64
CustomerID     8905 non-null float64
Country        9288 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 653.1+ KB

In [22]:
for i in cancelled_df:
    print("Missing values in the field : {}".format(i), sum(cancelled_df[i].isna()))

Missing values in the field : InvoiceNo 0
Missing values in the field : StockCode 0
Missing values in the field : Description 0
Missing values in the field : Quantity 0
Missing values in the field : InvoiceDate 0
Missing values in the field : UnitPrice 0
Missing values in the field : CustomerID 383
Missing values in the field : Country 0